.bloc{zoom: 1;display: inline;}
.item_menu {zoom: 1;display:inline;}
.drapeau {display:block;float:left;line-height:32px;}
.pied_de_page{filter: alpha(opacity=70);}
.transparence_80pc {filter: alpha(opacity=80);}
.mfp-bg {filter: alpha(opacity=80);}