#
# .htaccess PetiLabo v2.0
#

# Variables d'environnement OVH
SetEnv PHP_VER 5_4
SetEnv REGISTER_GLOBALS 0

# Initialisations
Options +FollowSymlinks
Options -Indexes
RewriteEngine on

# Redirection de la page d'accueil vers index.php
# afin d'éviter le duplicate content entre / et /index.php
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^(.*)$ http://%{HTTP_HOST}/index.php [L,R=301]

# Redirection du nom de domaine vers le sous-domaine www
# afin d'éviter le duplicate content entre les deux adresses
RewriteCond %{HTTP_HOST} !=localhost
RewriteCond %{HTTP_HOST} !=127.0.0.1
RewriteCond %{REMOTE_ADDR} !=127.0.0.1
RewriteCond %{REMOTE_ADDR} !=::1
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# Réécriture d'URL pour le mode multilingue
RewriteRule ^(en|es|it|de|nl|pt)$ index.php?l=$1 [QSA,L]
RewriteRule ^(en|es|it|de|nl|pt)/$ index.php?l=$1 [QSA,L]
RewriteRule ^(en|es|it|de|nl|pt)/(.*)$ $2?l=$1 [QSA,L]

# Doublon avec l'ini_set PHP pour les cookies de session
<IfModule php5_module>
	php_value session.cookie_httponly True
</IfModule>

# Sécurité
# Version allégée de Perishable Press 6G Beta
# @ http://perishablepress.com/6g-beta/

# 6G:[REQUEST STRINGS]
<ifModule mod_alias.c>
	RedirectMatch 403 /(\$|\*)/?$
	RedirectMatch 403 (?i)(<|>|:|;|\'|\s)
	RedirectMatch 403 (?i)([a-zA-Z0-9]{18})
	RedirectMatch 403 (?i)(https?|ftp|php)\:/
	RedirectMatch 403 (?i)(\"|\.|\_|\&|\&amp)$
	RedirectMatch 403 (?i)(\=\\\'|\=\\%27|/\\\'/?)\.
	RedirectMatch 403 (?i)/(author\-panel|submit\-articles)/?$
	RedirectMatch 403 (?i)/(([0-9]{5})|([0-9]{6}))\-([0-9]{10})\.(gif|jpg|png)
	RedirectMatch 403 (?i)(\,|//|\)\+|/\,/|\{0\}|\(/\(|\.\.|\+\+\+|\||\\\"\\\")
	RedirectMatch 403 (?i)/uploads/([0-9]+)/([0-9]+)/(cache|cached)\.php
	RedirectMatch 403 (?i)\.(asp|bash|cfg|cgi|dll|exe|git|hg|ini|jsp|log|mdb|out|sql|svn|swp|tar|rar|rdf|well)
	RedirectMatch 403 (?i)/(^$|1|addlink|btn_hover|dkscsearch|dompdf|easyboard|ezooms|formvars|fotter|fpw|i|imagemanager|index1|install|iprober|legacy\-comments|join|js\-scraper|mapcms|mobiquo|phpinfo|phpspy|pingserver|playing|postgres|product|register|scraper|shell|signup|single\-default|t|sqlpatch|test|textboxes.css|thumb|timthumb|topper|tz|ucp_profile|visit|webring.docs|webshell|zboard|zzr)\.php
	RedirectMatch 403 (?i)/(\=|\$\&|\_mm|administrator|auth|bytest|cachedyou|cgi\-|cvs|config\.|crossdomain\.xml|dbscripts|e107|etc/passwd|function\.array\-rand|function\.parse\-url|livecalendar|localhost|makefile|muieblackcat|release\-notes|rnd|sitecore|tapatalk|wwwroot)
	RedirectMatch 403 (?i)(\$\(this\)\.attr|\&pws\=0|\&t\=|\&title\=|\%7BshopURL\%7Dimages|\_vti\_|\(null\)|$itemURL|ask/data/ask|com\_crop|document\)\.ready\(fu|echo.*kae|eval\(|fckeditor\.htm|function.parse|function\(\)|gifamp|hilton.ch|index.php\&amp\;quot|jfbswww|monstermmorpg|msnbot\.htm|netdefender/hui|phpMyAdmin/config|proc/self|skin/zero_vote|/spaw2?|text/javascript|this.options)
</ifModule>

# 6G:[QUERY STRINGS]
<IfModule mod_rewrite.c>
	RewriteCond %{REQUEST_URI} !^/$ [NC]
	RewriteCond %{QUERY_STRING} (mod|path|tag)= [NC,OR]
	RewriteCond %{QUERY_STRING} ([a-zA-Z0-9]{32}) [NC,OR]
	RewriteCond %{QUERY_STRING} (localhost|loopback|127\.0\.0\.1) [NC,OR]
	RewriteCond %{QUERY_STRING} (benchmark|boot.ini|cast|declare|drop|echo.*kae|environ|etc/passwd|execute|input_file|insert|md5|mosconfig|scanner|select|set|union|update) [NC]
	RewriteRule .* - [F,L]
</IfModule>

# 6G:[USER AGENTS]
<ifModule mod_setenvif.c>
	#SetEnvIfNoCase User-Agent ^$ keep_out
	SetEnvIfNoCase User-Agent (<|>|'|&lt;|%0A|%0D|%27|%3C|%3E|%00|href\s) keep_out
	SetEnvIfNoCase User-Agent (archiver|binlar|casper|checkprivacy|clshttp|cmsworldmap|comodo|curl|diavol|dotbot|email|extract|feedfinder|flicky|grab|harvest|httrack|ia_archiver|jakarta|kmccrew|libwww|loader|miner|nikto|nutch|planetwork|purebot|pycurl|python|scan|skygrid|sucker|turnit|vikspider|wget|winhttp|youda|zmeu|zune) keep_out
	<limit GET POST PUT>
	Order Allow,Deny
	Allow from all
	Deny from env=keep_out
	</limit>
</ifModule>

# 6G:[BAD IPS]
<Limit GET POST PUT>
	Order Allow,Deny
	Allow from all

	Deny from 208.50.101.
	Deny from 78.234.5.2
	Deny from 98.150.108.228
	Deny from 69.41.14.215
	Deny from 64.124.98.10
	Deny from 64.125.188.25
	Deny from 64.124.203.72
	Deny from 8.28.16.
	Deny from 91.121.
	Deny from 77.222.61.
	Deny from 74.63.250.
	Deny from 27.159.223.
	Deny from 94.23.
	Deny from 89.185.228.
	Deny from 95.87.220.
	Deny from 69.94.34.
	Deny from 221.132.34.
	Deny from 114.33.237.
	Deny from 184.169.163.
	Deny from 69.162.68.
	Deny from 91.102.118.
	Deny from 27.54.93.
	Deny from 198.57.208.
	Deny from 142.4.215.
	Deny from 79.142.67.
	Deny from 65.111.165.
	Deny from 69.175.78.
	Deny from 37.59.47.
	Deny from 201.10.113.
	Deny from 1.234.27.
	Deny from 123.30.50.
	Deny from 89.221.250.
	Deny from 202.43.169.
	Deny from 41.210.123.
	Deny from 173.54.107.
	Deny from 69.169.94.
	Deny from 188.165.
	Deny from 93.185.106.
	Deny from 118.98.223.
	Deny from 200.63.102.
	Deny from 84.127.22.
	Deny from 151.28.208.
	Deny from 176.194.133.
	Deny from 213.184.242.
	Deny from 27.153.229.
	Deny from 72.47.196.
	Deny from 109.199.242.214
	Deny from 208.27.69.9
	Deny from 86.83.234.160
	Deny from 103.3.223.91
	Deny from 81.149.190.176
	Deny from 213.125.223.202
	Deny from 46.120.100.248
	Deny from 188.49.63.110
	Deny from 199.229.249.187
	Deny from 37.77.162.130
	Deny from 80.192.66.108
	Deny from 84.25.70.100
	Deny from 37.221.160.158
	Deny from 209.140.28.124
	Deny from 212.227.18.17
	Deny from 178.119.213.35
	Deny from 85.246.12.149
	Deny from 91.236.116.119
	Deny from 81.157.96.215
	Deny from 213.100.101.109
	Deny from 112.198.77.40
	Deny from 216.38.8.177
	Deny from 204.45.133.74
	Deny from 71.245.243.98
	Deny from 212.227.18.17
	Deny from 188.223.209.72
	Deny from 109.255.36.134
	Deny from 86.19.152.228
	Deny from 71.6.203.27
	Deny from 184.168.116.128
	Deny from 151.27.123.198
	Deny from 65.55.24.237
	Deny from 81.144.138.34
	Deny from 111.73.46.4
	Deny from 186.222.83.11
	Deny from 60.234.45.151
	Deny from 82.170.182.160
	Deny from 82.169.246.22
	Deny from 64.14.78.96
	Deny from 86.156.146.50
	Deny from 85.59.38.177
	Deny from 81.144.138.34
	Deny from 8.28.16.
	Deny from 27.159.233.63
	Deny from 50.9.101.245
	Deny from 61.189.22.137
	Deny from 64.124.203.
	Deny from 74.217.148.
	Deny from 78.85.18.135
	Deny from 89.31.
	Deny from 109.108.163.154
	Deny from 110.85.115.183
	Deny from 120.37.208.95
	Deny from 120.37.210.111
	Deny from 120.43.4.142
	Deny from 120.39.23.174
	Deny from 124.243.124.206
	Deny from 150.70.64.
	Deny from 150.70.75.
	Deny from 150.70.172.
	Deny from 174.127.133.
	Deny from 200.98.197.
	Deny from 204.13.66.21
	Deny from 207.241.226.91
	Deny from 208.50.101.
	Deny from 221.206.105.219
	Deny from 183.61.245.
	Deny from 190.199.229.235
	Deny from 207.241.237.
	Deny from 82.165.136.

	Deny from 123.151.39.
	Deny from 77.172.210.
	Deny from 174.94.131.
	Deny from 89.238.137.59
	Deny from 212.90.148.101
	Deny from 91.207.61.129
	Deny from 202.46.52.120
	Deny from 128.73.60.194
	Deny from 68.108.17.141
	Deny from 27.54.93.178
	Deny from 194.9.94.213
	Deny from 122.166.169.127
	Deny from 96.9.163.49
	Deny from 54.229.73.40
	Deny from 203.109.158.201
	Deny from 46.105.113.8
	Deny from 183.60.244.
	Deny from 54.232.102.193
	Deny from 195.157.124.186
	Deny from 118.39.113.219
	Deny from 27.255.56.87
	Deny from 69.161.138.1
	Deny from 192.96.204.42
	Deny from 178.63.52.200
	Deny from 27.252.92.103
	Deny from 37.59.65.58
	Deny from 186.202.126.94
	Deny from 186.213.72.146
	Deny from 186.219.44.6
	
</Limit>

<Files .htaccess>
	Order allow,deny
	Deny from all
</Files>