table, td {border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
/* Administration */
.bloc {opacity:0.3;}
.contenu_fixe_en_haut, .contenu_fixe_en_bas{position:relative!important;}
div.panneau_admin{width:98%;margin:0 auto;background:#000;color:#fff;padding:10px 1%;text-align:center;}
div.panneau_admin h1{font-size:1.5em;color:#eee;}
div.panneau_admin table{margin:0 auto;text-align:left;border-spacing: 4em 1em;}
div.panneau_admin table td{padding:6px;}
div.panneau_admin p{margin:6px;}
div.panneau_admin p.admin_annotation {padding:3px 0;color:#eee;font-style:italic;}
div.panneau_admin p.admin_info_site{width:12em;position:relative;}
div.panneau_admin p.admin_info_site span.icone_prefixe, div.panneau_admin p.admin_info_version span.icone_prefixe{font-family:'FontAwesome',sans-serif;font-size:130%;color:#eee;padding-right:10px;}
div.panneau_admin p.admin_info_site span.taille_suffixe{position:absolute;padding-top:3px;left:7.5em;width:5em;}
div.panneau_admin p.admin_bouton_version {margin-top:20px;}
div.panneau_admin p.admin_bouton_version a{text-decoration:none;color:#fff;background:#800;padding:10px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
div.panneau_admin p.admin_bouton_version a:hover{background:#666;}
@media screen and (max-width:800px) {
div.panneau_admin table{border-spacing: 2em 1em;}
}
@media screen and (max-width:650px) {
div.panneau_admin table{border-spacing: 1em 1em;}
}
/* Stats */
div.admin_stat_container{font-family:Sans-serif!important;}
p.admin_onglets_stats{text-align:center;color:#fff;margin:0;padding:12px 0;}
p.admin_onglets_stats a, p.admin_onglets_stats a:visited{background:#333;padding:9px 12px;color:#fff;margin-right:15px;text-decoration:none;}
p.admin_onglets_stats a:hover {background:#666;text-decoration:none;}
div.admin_courbe_wrapper{background:#f8f8f8;width:100%;margin:0 auto;overflow:hidden;height:273px;position:relative;}
div.admin_courbe_stats{position:absolute;top:5px;left:0;width:100%;height:250px;}
p.admin_msg_erreur {font-weight:bold;color:#880000;text-align:center;padding:25px;}
table.admin_tab_stats_wrapper{width:100%;border-spacing:0.3em!important;}
table.admin_tab_stats_wrapper td{vertical-align:top;}
table.admin_tab_stats_wrapper div.admin_stat_scrollable{width:100%;height:221px;overflow-y:auto;overflow-x:hidden;padding-right:5px;}
table.admin_tab_stats_content{width:100%;border-spacing:0!important;border-collapse:collapse;}
table.admin_tab_stats_content tr{padding:0!important;margin:0!important;}
table.admin_tab_stats_content tr.stat_langue{height:35px;}
table.admin_tab_stats_content td{padding:0!important;border-spacing:0;border:1px solid #888;vertical-align:middle;}
table.admin_tab_stats_content td.admin_cellule_pc{width:66px!important;}
p.stats_section{text-align:left;padding:3px;margin:0!important;font-size: 16px;}
p.stats_label, p.stats_valeur{text-align:left;padding:2px;margin:0!important;font-size: 15px;}
p.stats_label{color:#222;}
p.stats_label_langue{display:inline!important;vertical-align:middle;}
p.stats_valeur{color:#444;font-weight:bold;text-align:right;}
p.stats_section{color:#000;font-weight:bold;}
div#stats{z-index:4;}div#visites_uniques{z-index:3;}div#visites{z-index:2;}div#geoloc{z-index:1;}
/* Edition */
.tab_edit_inactif{display:none;}
.tab_edit_actif{display:block;}
.tableau {width:100%;border:0;padding:0;margin:5px auto;}
.cellule {padding:5px 10px;}
.cellule_categorie {width:100px;text-align:center;}
.nom_categorie{margin:0;padding:0;font-weight:bold;color:#fff;}
.cellule_symbole {width:50px;background:#ccc;text-align:center;}
.symbole, .symbole_ref {font-family:'FontAwesome',sans-serif;margin:0;padding:0;font-weight:normal;font-size:1.6em;}
.symbole_geo, .symbole_ref{padding-left:0.7em;font-size:1em!important;color:#600;text-decoration:none;}
.symbole_geo:hover, .symbole_ref:hover{color:#555;text-decoration:none;}
.symbole_actif {color:#555;text-decoration:none;}
.symbole_actif:hover {color:#000;text-decoration:none;}
.symbole_inactif {color:#aaa;}
.cellule_texte {background:#eee;text-align:left;}
.texte_edit {margin:0;padding:0;text-align:left;font-weight:normal;word-wrap: break-word;}
.texte_actif, .texte_actif a {color:#000;}
.texte_inactif, .texte_inactif a {color:#aaa;}
.icone_edit{font-family:'FontAwesome',sans-serif;text-align:left;margin:0;padding:0;font-weight:normal;font-size:1.4em;color:#000;}
.image_edit {border:1px solid #666;max-height:60px;text-align:left;}
.champ {display:block;margin:0;padding:0;}
.texte_champ {font-family:sans-serif;font-size:1em;display:block;color:#444;border:1px solid #aaa;height:200px;width:100%;min-width:100%;max-width:100%;padding:0;margin:0;}
.texte_champ_simple {margin-top:15px!important;height:100px!important;}
.texte_champ_simple_lien{margin-top:15px!important;height:auto!important;padding:5px 3px!important;}
.select_champ {font-family:sans-serif;width:10em;}
.select_lien {font-family:sans-serif;font-size:1em;display:block;color:#444;border:1px solid #aaa;height:auto;width:auto;min-width:50%;max-width:100%;padding:5px 0!important;margin:0;}
td.admin_source_element{font-family:sans-serif;width:55px;text-align:center;font-size:0.7em;color:#fff;vertical-align:middle;}
td.admin_source_element_page{background:#005}td.admin_source_element_site{background:#050;}
td.admin_source_element_module{background:#505}td.admin_source_element_librairie{background:#055;}
td.admin_source_element_interne{background:#500;}td.admin_source_element_vide{background:#555;}
td.admin_source_element_fichier{background:#500;}
/* Formulaire de suppression des images */
.bouton {display:block;width:150px;font-size:1.2em;margin:15px auto 5px auto;}
.bouton_suppr {font-family:'FontAwesome',sans-serif;display:block;width:50px;font-size:1.2em;margin:15px 0 5px 0;color:#b00;}
#id_suppr_image{display:none;height:50px;padding:3px 0 8px 0!important;}
.bouton_annul{color:#000;} .bouton_confirm {color:#b00;}
/* Calendrier de réservation */
.entetes_calendrier{width:100%;border-spacing:0;margin:0 auto;}
.wrap_calendrier{width:100%;height:210px;overflow-x:hidden;overflow-y:scroll;}
.calendrier{width:100%;border-spacing:0;margin:0 auto;}
.calendrier td{border-radius:0!important;-moz-border-radius:0!important;-webkit-border-radius:0!important;}
.calendrier td.nom_mois{border:1px solid #fff;width:12%;background:#000;color:#fff;padding:0.2em 0;text-align:center;font-size:0.8em;}
.calendrier td.am{border:1px solid #fff;border-right:0;text-align:right;width:6%;padding:0.4em 0;}
.calendrier td.pm{border:1px solid #fff;border-left:0;text-align:left;width:6%;padding:0.4em 0;}
.calendrier td.libre{background:#0b0;}
.calendrier td.reserve{background:#f80;}
.calendrier td.occupe{background:#f00;}
.calendrier td.ferme{background:#888;}
p#id_nb_nuits{font-size:0.9em;margin-top:0.2em;}
/* Videos */
.cadre_video div {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background:url('../images/invisible.png') repeat;z-index:999;}
/* Lightbox */
div#analitix_leaflet{height:600px;}
.analitix_lb{font-size:100%;background:#fff;padding:5px 20px 5px 10px;width:auto;max-width:798px;margin:5px auto;position:relative;}
.analitix_img{width:100%;overflow:auto;position:relative;}
.form_lb {font-size:100%;position:relative;background:#fff;padding:20px;width:auto;max-width:500px;margin:20px auto;}
.titre_zone {font-size:1em;font-weight:bold;margin:0.5em 0;}
.texte_zone {font-size:0.8em;font-weight:normal;margin:0.2em 0;}
.erreur_zone {color:#b00;}
div#id_ajustements {margin-top:10px;}
/* Onglets */
ul.tabs {margin:0;padding:0;list-style:none;border:0;}
ul.tabs li {float:left;margin:0;padding:2px 6px 4px 6px;width:32px;height:28px;background:#fff;border:1px solid #fff;}
ul.tabs li a {display:block;text-decoration:none;width:32px;height:28px;outline:none;background:url('../../images/drapeauxsombres.png') no-repeat;}
ul.tabs li a:hover {}
ul.tabs li.active {background:#fff;}
ul.tabs li.active a {background:url('../../images/drapeaux.png') no-repeat;color:#fff;}
ul.tabs li.active a:hover {color:#fff;}
.tab_container {position:relative;clear:both;width:100%;border:0;padding:0;margin:0 0 15px 0;background:#eee;}
.tab_content {padding:0;margin:0;}
/* SimpleChart */
.SimpleChart {position: relative;}
.SimpleChart #tip {background-color: #f0f0f0;border: 1px solid #d0d0d0;position: absolute;left: -200px;top: 30px;}
.down-triangle {width: 0;height: 0;border-top: 10px solid #d0d0d0;border-left: 6px solid transparent;border-right: 6px solid transparent;position: absolute;left: -200px;}
.SimpleChart #highlighter {position: absolute;left: -200px;}
.-simple-chart-holder {float: left;position: relative;width: 100%;background-color: #fff;border: 1px solid #cecece;/*padding: 6px;*/}
.SimpleChart .legendsli {list-style: none;}
.SimpleChart .legendsli span {float: left;vertical-align: middle;}
.SimpleChart .legendsli span.legendindicator {position: relative;top: 5px;}
.SimpleChart .legendsli span.legendindicator .line {width: 30px;height: 3px;}
.SimpleChart .legendsli span.legendindicator .circle {width: 12px;height: 12px;border-radius: 20px;position: relative;top: -5px;right: 20px;}
/******Starts::Horizontal Alignment of Legends******/
.simple-chart-legends {background: #E7E7E7;border: 1px solid #d6d7dd;padding: 5px;margin: 2px 0px;}
.simple-chart-legends ul {}
.simple-chart-legends ul li {display: inline;border-right: 1px solid #d6d7dd;float: left;padding: 10px;}
.simple-chart-legends ul li:last-child {border-right: 0px;}
.simple-chart-legends.vertical {margin: 0px 10px;}
.simple-chart-legends.vertical ul li {display: block;border: 0px;border-bottom: 1px solid #d6d7dd;}
.simple-chart-legends.vertical ul li:last-child {border-bottom: 0px;}
.simple-chart-legends .legendvalue {padding-left: 2px;background: #fff;}
/******Starts::Horizontal Alignment of Legends******/
.simple-chart-Header {position: absolute;font-size: 16px;color:#333;font-weight:bold;}