.pied_de_page{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";}
.transparence_80pc {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";}
.mfp-bg {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";}
.wrap_panneau_ga{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";}